.main,
.state {
  width: 100%;
  max-width: calc(var(--layout-max-width) + (var(--layout-padding) * 2));
  margin: 0 auto;
  padding: 60px var(--layout-padding) 120px;
}

.state {
  min-height: 360px;
}

.actions {
  margin-top: 40px;
}

@media (max-width: 743px) {
  .main,
  .state {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .actions {
    margin-top: 20px;
  }
}
