@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'YeogiOttaeJalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
}

:root {
  --color-black: #0f0f0f;
  --color-brand-yellow: #ffcc00;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #4a4a4a;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-white: #ffffff;
  --color-error: #ff483d;
  --color-grade-blue: #29c9f9;
  --color-grade-purple: #a77eff;
  --color-grade-pink: #ff2a6a;
  --color-overlay-black: #00000099;
  --color-toast-background: #535353CC;

  --font-main: 'Noto Sans KR', sans-serif;
  --font-brand: 'YeogiOttaeJalnan', sans-serif;
  --layout-max-width: 1480px;
  --layout-padding: 40px;
  --header-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: var(--header-height);
  color: var(--color-white);
  background: var(--color-black);
  font-family: var(--font-main);
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1199px) {
  :root {
    --layout-padding: 24px;
  }
}

@media (max-width: 743px) {
  :root {
    --layout-padding: 15px;
  }
}
