.section {
  width: 100%;
  margin-top: 80px;
}

.title {
  margin: 0;
  padding-bottom: 18px;
  border-bottom: 2px solid var(--color-gray-200);
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
}

.content {
  padding-top: 40px;
}

@media (max-width: 743px) {
  .section {
    margin-top: 60px;
  }

  .title {
    padding-bottom: 10px;
    border-bottom-width: 1px;
    font-size: 22px;
  }

  .content {
    padding-top: 20px;
  }
}
