.wrapper {
  min-height: 107px;
  padding: 20px;
  border-bottom: 1px solid var(--color-gray-300);
}

.read {
  background: var(--color-gray-500);
}

.unread {
  background: #222222;
}

.message {
  margin: 0 0 10px;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.read .message {
  color: var(--color-gray-300);
  font-weight: 300;
}

.time {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  color: var(--color-gray-300);
}
