.wrapper {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
  width: 300px;
  max-height: 535px;
  overflow-y: auto;
  border-radius: 2px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
