.wrapper {
  position: fixed;
  inset: 0;
  background: var(--color-overlay-black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 455px;
  padding: 50px 0;
  color: var(--color-white);
  border-radius: 20px;
  background: var(--color-black);
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 46px;
  font-family: var(--font-brand);
}

.result {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.nextAvailable {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-300);
}

.title span, .result span, .nextAvailable span{
  color: var(--color-brand-yellow);
}

.mobileBreak {
  display: none;
}

@media (max-width: 1199px) {
  .content {
    width: 400px;
  }
  
  .title {
    font-size: 36px;
  }

  .pointImage {
    width: 276px;
    height: 262px;
  }

  .result {
    font-size: 28px;
  }
}

@media (max-width: 743px) {
  .content {
    width: 345px;
  }

  .closeBtn {
    top: 15px;
    right: 15px;
  }

  .title {
    font-size: 30px;
  }

  .pointImage {
    width: 240px;
    height: 228px;
  }

  .result {
    font-size: 24px;
  }

  .nextAvailable {
    text-align: center;
  }

  .mobileBreak {
    display: inline;
  }
}