  margin-top: 80px;
}

.heading {
  border-bottom: 2px solid var(--color-gray-200);
}

.title {
  margin: 0;
  padding-bottom: 18px;
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
}

@media (max-width: 743px) {
  .section {
    margin-top: 60px;
  }

  .heading {
    border-bottom-width: 1px;
  }

  .title {
    padding-bottom: 10px;
    font-size: 22px;
  }
}